---
import EmailIcon from "./Icons/EmailIcon.astro";
import PhoneIcon from "./Icons/PhoneIcon.astro";
---
<div class="p-8">
    <div id="kontakt" class="mx-auto mb-12">
        <h1 class="text-4xl mb-8 text-center">Kontakt</h1>
        <h2 class="text-2xl text-center">Sie haben Fragen? Schreiben Sie uns oder rufen Sie einfach an!</h2>
        <div class="flex justify-center m-6 max-w-screen-sm mx-auto gap-5">
            <div class="flex-row">
                <EmailIcon/>
                <br>
                <PhoneIcon/>
            </div>
            <div class="flex-row">
                <p>kreutzermaik123@web.de</p>
                <br>
                <p><a href="tel:06825952604">06825 / 952604</a></p>
            </div>
        </div>
    </div>
</div>
