---
import '../assets/styles/tailwind.css';
import CustomStyles from "../utils/CustomStyles.astro"
import BasicScripts from "../utils/BasicScripts.astro";
---

<!DOCTYPE html>
<html lang="de" class="mx-auto !scroll-smooth lg:scroll-pt-40 md:scroll-pt-40">

<head>
    <title>Stuckateurbetrieb Kreutzer GmbH</title>
    <CustomStyles />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Webseite für den Stuckateurbetrieb Kreutzer GmbH">
</head>

<body class="antialiased text-default bg-page tracking-tight">
<slot />
<BasicScripts />
<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
</body>
</html>
